#c1{
    height:200px;
    width:650;
    border:2px solid red;
    background-image: linear-gradient(to bottom right, red, yellow);
}
#c2{
    height:200px;
    width:650;
     border:2px solid red;
     background-image: repeating-radial-gradient(red 22%,green 57%,orange 70%)
}
#c3{
    height:200px;
    width:650;
     border:2px solid red;
     background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}